In [4]:
!pip install seaborn --user

Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\python312\lib\site-packages (from seaborn) (2.2.5)
Requirement already satisfied: pandas>=1.2 in c:\python312\lib\site-packages (from seaborn) (2.2.3)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Using cached matplotlib-3.10.3-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached contourpy-1.3.2-cp312-cp312-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: fonttools>=4.22.0 in c:\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.58.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\python312\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Using cached matplotlib-3.10.3-cp312-cp312-win_amd64.whl (8.1 MB)
Using cached contourpy-1.3.2-cp312-cp312-win_amd64.whl (223 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Installing collected packages: cycler, contourpy, matplotlib, seaborn

   ---------- ----------------------------- 1/4 [contourpy]
   ---------- ----------------------------- 1/4 [contourpy]
   ---------- ----------------------------- 1/4 [contourpy]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   -------------------- ------------------- 2/4 [matplotlib]
   ------------------------------ --------- 3/4 [seaborn]
   ------------------------------ --------- 3/4 [seaborn]
   ------------------------------ --------- 3/4 [seaborn]
   ------------------------------ --------- 3/4 [seaborn]
   ------------------------------ --------- 3/4 [seaborn]
   ------------------------------ --------- 3/4 [seaborn]
   ------------------------------ --------- 3/4 [seaborn]
   ------------------------------ --------- 3/4 [seaborn]
   ------------------------------ --------- 3/4 [seaborn]
   ------------------------------ --------- 3/4 [seaborn]
   ---------------------------------------- 4/4 [seaborn]

Successfully installed contourpy-1.3.2 cycler-0.12.1 matplotlib-3.10.3 seaborn-0.13.2

In [5]:
import pandas as pd

In [8]:
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [9]:
# Set visualization theme
sns.set()

In [17]:
data = pd.read_csv("Data/Jewelry_Dataset.csv")
# df = pd.read_csv(r"C:\Users\TestimOni\OneDrive - Ulster University\Desktop\OptimumJewelryPricing\Data\Jewelry_Dataset.csv")

In [18]:
data.head()

,2018-12-01 11:40:29 UTC,1924719191579951782,1842195256808833386,1,1806829201890738522,jewelry.earring,0,561.51,1515915625207851155,Unnamed: 9,red,gold,diamond
0,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst
4,2018-12-02 22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,jewelry.earring,1.0,102.27,1.515916e+18,NaN,red,gold,NaN

In [19]:
type(data)

pandas.core.frame.DataFrame

In [20]:
data.shape

(95910, 13)

In [21]:
# Set the columns for the data (df) for better readability using the provided dictionary
data.columns = [
    "Order_DateTime",
    "Order_ID",
    "Product_ID",
    "SKU_Quantity",
    "Category_ID",
    "Category_Alias",
    "Brand_ID",
    "Price_in_USD",
    "User_ID",
    "Product_Gender",
    "Main_Color",
    "Main_Metal",
    "Main_Gem"]

In [22]:
data.head()

,Order_DateTime,Order_ID,Product_ID,SKU_Quantity,Category_ID,Category_Alias,Brand_ID,Price_in_USD,User_ID,Product_Gender,Main_Color,Main_Metal,Main_Gem
0,2018-12-01 17:38:31 UTC,1924899396621697920,1806829193678291446,1,1.806829e+18,NaN,NaN,212.14,1.515916e+18,NaN,yellow,gold,NaN
1,2018-12-02 13:53:42 UTC,1925511016616034733,1842214461889315556,1,1.806829e+18,jewelry.pendant,1.0,54.66,1.515916e+18,f,white,gold,sapphire
2,2018-12-02 17:44:02 UTC,1925626951238681511,1835566849434059453,1,1.806829e+18,jewelry.pendant,0.0,88.90,1.515916e+18,f,red,gold,diamond
3,2018-12-02 21:30:19 UTC,1925740842841014667,1873936840742928865,1,1.806829e+18,jewelry.necklace,0.0,417.67,1.515916e+18,NaN,red,gold,amethyst
4,2018-12-02 22:09:34 UTC,1925760595336888995,1835566854827934449,1,1.806829e+18,jewelry.earring,1.0,102.27,1.515916e+18,NaN,red,gold,NaN

In [23]:
data.shape

(95910, 13)

In [24]:
# check for and count missing values
data.isnull().sum()

Order_DateTime        0
Order_ID              0
Product_ID            0
SKU_Quantity          0
Category_ID        5352
Category_Alias     9933
Brand_ID           4785
Price_in_USD       5352
User_ID            5352
Product_Gender    48167
Main_Color         7660
Main_Metal         5462
Main_Gem          34058
dtype: int64

In [26]:
# When exploring the data, it is good to check its FEATURE CARDINALITY
data.nunique()

Order_DateTime    74504
Order_ID          74759
Product_ID         9613
SKU_Quantity          1
Category_ID          25
Category_Alias      218
Brand_ID           2537
Price_in_USD       3166
User_ID           31079
Product_Gender        2
Main_Color            5
Main_Metal            3
Main_Gem             30
dtype: int64

In [28]:
# Get a statistical summary of the data
data.describe()

,Order_ID,Product_ID,SKU_Quantity,Category_ID,Brand_ID,Price_in_USD,User_ID
count,9.591000e+04,9.591000e+04,95910.0,9.055800e+04,9.112500e+04,90558.000000,9.055800e+04
mean,2.485191e+18,1.815970e+18,1.0,1.805947e+18,8.891036e+16,362.213017,1.512644e+18
std,1.934750e+17,2.136814e+17,0.0,2.083954e+16,3.559651e+17,444.157665,2.374776e+16
min,1.924899e+18,1.313551e+18,1.0,1.313678e+18,0.000000e+00,0.990000,1.313554e+18
25%,2.379732e+18,1.515966e+18,1.0,1.806829e+18,0.000000e+00,145.620000,1.515916e+18
50%,2.524282e+18,1.956664e+18,1.0,1.806829e+18,1.000000e+00,258.770000,1.515916e+18
75%,2.644347e+18,1.956664e+18,1.0,1.806829e+18,1.000000e+00,431.370000,1.515916e+18
max,2.719022e+18,2.541962e+18,1.0,1.806829e+18,1.550613e+18,34448.600000,1.554297e+18

In [29]:
# also
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95910 entries, 0 to 95909
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order_DateTime  95910 non-null  object
 1   Order_ID        95910 non-null  int64
 2   Product_ID      95910 non-null  int64
 3   SKU_Quantity    95910 non-null  int64
 4   Category_ID     90558 non-null  float64
 5   Category_Alias  85977 non-null  object
 6   Brand_ID        91125 non-null  float64
 7   Price_in_USD    90558 non-null  float64
 8   User_ID         90558 non-null  float64
 9   Product_Gender  47743 non-null  object
 10  Main_Color      88250 non-null  object
 11  Main_Metal      90448 non-null  object
 12  Main_Gem        61852 non-null  object
dtypes: float64(4), int64(3), object(6)
memory usage: 9.5+ MB

In [32]:
# Check duplicate values
duplicate_enti = len(data.loc[data.duplicated()])